<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" th:href="@{../css/info.css}">
<link rel="stylesheet" th:href="@{../css/AddAndEditCourse.css}">
<head>
<meta charset="utf-8">
<title>add and edit course</title>
</head>
<body class="body">
    <div class="info-top">
        <div class="info-top-header">Hi,User</div>
        <div class="dropdown">
            <img class="dropdownimg" src="../img/name.png">
            <div class="dropdown-content">
                <a href="#">Home</a>
                <a href="#">My Course</a>
                <a href="#">My Lab</a>
                <a href="#">Equipment</a>
                <a href="#">Sign Out</a>
            </div>
        </div>
    </div>

    <div class="teacher-info">
        <div class="text-info">
            <div class="coursename">
                <p class="coursenametitle">name: </p>
                <input class="coursenametext" id="coursename" type="text" name="" value="" placeholder="Please enter course name here"
                onfocus="this.placeholder=''" onblur="this.placeholder='Please enter course name here'">
            </div>
            <p class="des_title">Description: </p>
            <textarea class="textarea">
                This is a course description area.  
            </textarea>
        </div>
    </div>

    <div class="bot-bot">
        <div class="bot-block">
            <div class="bot-block-header">
                <div class="bot-block-header-name">Students</div>
                <div class="bot-block-header-more"><a href="">more</a></div>
                
                
            </div>
            <div class="bot-content">
                    <p>Course name one</p>
                    <p>Course name two</p>
                    <p>Course name three</p>
                    <div class="mainblock-header-editimg"><img src="../img/add.png"></div>
                </div>
        </div>

        <div class="bot-block">
            <div class="bot-block-header">
                <div class="bot-block-header-name">Labs</div>
                <div class="bot-block-header-more"><a href="">more</a></div>
                    
                
            </div>
            <div class="bot-content">
                <p>Lab name one</p>
                <p>Lab name two</p>
                <p>Lab name three</p>
                <div class="mainblock-header-editimg"><img src="../img/add.png"></div>
            </div>

        </div>
    </div> 
</body>
</html>