<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="../../resources/css/AddAndEditCourse.css">
<head>
<meta charset="utf-8">
<title>add and edit course</title>
</head>
<body class="body">
    <div class="info-top">
        <div class="info-top-header">Hi,User</div>
        <div class="dropdown">
            <img class="dropdownimg" src="../../resources/image/name.png">
            <div class="dropdown-content">
                <a href="#">Home</a>
                <a href="#">My Course</a>
                <a href="#">My Lab</a>
                <a href="#">Equipment</a>
                <a href="#">Sign Out</a>
            </div>
        </div>
    </div>

    <div class="teacher-info">
        <p class="Des_title">Description: </p>
        <div class="text-info">
            <textarea rows="8" cols="82">
                This is a course description area.  
            </textarea>
        </div>
    </div>

    <div class="bot">
        <div class="block">
            <div class="block-header">
                <div class="block-header-name">Students</div>
                <div class="block-header-more"><a href="">more</a></div>
                <div class="content">
                    <p>Course name one</p>
                    <p>Course name two</p>
                    <p>Course name three</p>
                </div>
            </div>
        </div>

        <div class="block">
            <div class="block-header">
                <div class="block-header-name">Labs</div>
                <div class="block-header-more"><a href="">more</a></div>
                    <div class="content">
                    <p>Lab name one</p>
                    <p>Lab name two</p>
                    <p>Lab name three</p>
                </div>
            </div>

        </div>
    </div> 
</body>
</html>