<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" th:href="@{css/loginAndSignup.css}">
<head>
<meta charset="utf-8">
<title>Log In</title>
</head>
<body class="body">
    <div class="login">
        <div class="login-top">Login</div>
        <div class="login-center clearfix">
            <div class="login-center-img"><img src="img/name.png"></div>
            <div class="login-center-input">
                <input id="userName" type="text" name="" value="" placeholder="please enter your username"
                    onfocus="this.placeholder=''" onblur="this.placeholder='please enter your username'">

            </div>
        </div>
        <div class="login-center clearfix">
            <div class="login-center-img"><img src="img/password.png"></div>
            <div class="login-center-input">
                <input id= "password" type="password" name="" value="" placeholder="enter your password"
                    onfocus="this.placeholder=''" onblur="this.placeholder='enter your password'">

            </div>
        </div>


        <input  id = "loginbtn" class= "login-button" type="button" value = "log in" />
        <div>
            <div class="forget"><a href="">forget password</a></div>
            <div class="signup"><a href="">sign up</a></div>
        </div>
        
        <!-- <input  id = "signupbtn" class= "login-button" type="button" value = "sign up" /> -->
    </div>    
</body>
</html>