<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet"  th:href="@{css/loginAndSignup.css}">
<head>
<meta charset="utf-8">
<title>Sign Up</title>
</head>
<body class="body">
    <div class="login">
        <div class="login-top">Sign Up</div>
        <div class="login-center clearfix">
            <div class="login-center-img"><img src="image/name.png"></div>
            <div class="login-center-input">
                <input id="userName" type="text" name="" value="" placeholder="please enter your username"
                    onfocus="this.placeholder=''" onblur="this.placeholder='please enter your username'">
            </div>
        </div>

        <div class="login-center clearfix">
            <div class="login-center-img"><img src="image/email.png"></div>
            <div class="login-center-input">
                <input id="email" type="text" name="" value="" placeholder="please enter your email"
                    onfocus="this.placeholder=''" onblur="this.placeholder='please enter your email'">
            </div>
        </div>

        <div class="login-center clearfix">
            <div class="login-center-img"><img src="image/password.png"></div>
            <div class="login-center-input">
                <input id= "password" type="password" name="" value="" placeholder="enter your password"
                    onfocus="this.placeholder=''" onblur="this.placeholder='enter your password'">
            </div>
        </div>

        <div class="login-center clearfix">
            <div class="login-center-img"><img src="image/password.png"></div>
            <div class="login-center-input">
                <input id= "re_password" type="password" name="" value="" placeholder="comfirm your password"
                    onfocus="this.placeholder=''" onblur="this.placeholder='comfirm your password'">
            </div>
        </div>

        <div class="login-center clearfix">
            <div class="login-center-img"><img src="image/password.png"></div>
            <div class="login-center-input">
                <input id= "re_password" type="password" name="" value="" placeholder="enter your school"
                    onfocus="this.placeholder=''" onblur="this.placeholder='enter your school'">
            </div>
        </div>

        <div class="login-center clearfix">
            <div class="teacher"><input type="radio" name="identity" id="identity" value="Teacher">Teacher</div>  
            <div class="student"><input type="radio" name="identity" id="identity" value="Student">Student</div>
        </div>


        <input  id = "loginbtn" class= "login-button" type="button" value = "Sign Up" />
        
        <!-- <input  id = "signupbtn" class= "login-button" type="button" value = "sign up" /> -->
    </div>    
</body>
</html>