
*{
    margin: 0;
    padding: 0;
}

.body{
    background-color: #eee;
    background-image: linear-gradient(45deg, #e2e2e2 25%, transparent 25%, transparent 75%, #e2e2e2 75%, #e2e2e2),
    linear-gradient(45deg, #e2e2e2 25%, transparent 25%, transparent 75%, #e2e2e2 75%, #e2e2e2);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}
.draggable_item{
    width: 150px;
    max-height: 180px;
}

.selected{
    border:1px solid #00acc1;
    z-index: 50;
}

.zdeep{
    z-index: 100;
}

.popup_dialog{
    width: 400px!important;
    height: 200px!important;
}

.popup_dialog_header{
    margin-left: 15px!important;
    font-size: 30px;
}

.number_picker{
    background: #f0f0f0 !important;
}

.zeromargin{
    margin: 0!important;
}

.zeropadding{
    padding: 0!important;
}

.item_img{
    width: 140px;
    height: 130px;
    margin: 0;
    padding: 0;

}
.opration_area{
    height: 80%;
    width: 100%;
    margin: 0;
    padding: 0;
    /*border:1px solid black;*/

}

.infobar{
    z-index: 1000;
    display: none;
    position:absolute;
    top:16%;
    right: 5px;
    width: 15%;
    height:50%;
    border:1px solid black;
    border-radius: 5px;
}

.sidebar{
    left: -18%;
    z-index: 1000;
    float: left;
    position: fixed;
    width: 20%;
    max-height:100%;
    transition: 0.3s;
    border-radius: 5px;
    /*background: white;*/
}

.sidebarhover:hover{
    left:0px;
    transition: 0.3s;
    border-radius: 5px;
}
.sidebar_info{
    width: 90%;
    margin: 0;
    padding: 0;
    float: left;

}

.sidebar_add{
    margin-right: 15px;
}



.my_white{
    background: white;
}

.sidebar_trigger{
    max-height: 100%;
    height: 100%!important;
    width:10%;
    margin: 0;
    padding: 0;
    float: left;
    border-radius: 5px;
    background: red!important;
    text-align: center;
}

.delete_empty{
    margin: 0!important;
    padding: 0!important;
}

.tabs{
    height: auto!important;
    white-space: normal;
}
.tab{
    display: block!important;
    height: 20%!important;
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
    margin: 0!important;
}

.tab_content{
    height: 200px!important;
    width: 100%;
}

.indicator{
    display: none;
}
.vtext{
    margin-top: 78px;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
