.draggable_item{
    width: 150px;
    height: 180px;
}

.selected{
    border:1px solid #00acc1;
}
.popup_dialog{
    width: 500px!important;
    height: 200px!important;
}

.popup_dialog_header{
    margin-left: 15px!important;
    font-size: 30px;
}

.number_picker{
    background: #f0f0f0 !important;
}

.item_img{
    width: 140px;
    height: 130px;
    margin: 0;
    padding: 0;

}
.opration_area{
    height: 80%;
    border:1px solid black;
}
.pourbtn{

}