
/*@author: Chenxing He*/
.Eq-sidebar{
	top: 8%;
	position:absolute;
	width: 13%;
	height:85%;
	margin-left: 0.5%;
	border:2px solid black;
	background: linear-gradient(to bottom right,#465EFB,50%, #C2FFD8);
	float: left;
}

.Eq-sidebar-container{
	width:100%;
	height: 10%;
	/*background: green;*/ 
}

.Eq-search{
	width: 80%;
	float: left;
}

.Eq-search-textfield{
	margin-top: 5px;
	width: 100%;
	height:40px;
}

.Eq-search-btn{
	width:40px;
	/*margin-right: 10%;*/
	float: right;
}

.Eq-add-btn{
	margin-top: 50px;
	margin-left: 75px;
	float: left;
}

.Eq-item{
	width: 40%;
	height: 80%;
	float: left;
	margin-left: 8%;
	/*background: green;*/
}

.Eq-mainbody{
	margin: 0;
	padding: 0;
	position: absolute;
	left:14.5%;
	top:8%;
	width: 85%;
	height: 85%;
	border:2px solid black;
}

.Eq-mainbody-header{
	font-size: 21;
	position: absolute;
	width: 98%;
	height: 10%
	border:2px solid black;
	float: left;
	margin-left: 0.5%;
	/*background: green;*/
}
.Eq-mainblock{
	position: absolute;
	top:10%;
	left:0.5%;
	float: left;
	/*border:2px solid black;*/
	width: 100%;
	height: 90%;
}

.Eq-mainbody-top{
	width:95%;
	height: 50%;
	float: left;
	/*background: green;*/
	/*border:2px solid black;*/

}
.Eq-mainbody-top-img{
	width: 150px;
	height: 150px;
	float: left;
}

.Eq-property{
	position: absolute;
	left:20%;
	width:75%;
	height: 50%;
	float: left;
	/*background: red;*/
}
.type{
	width:100%;
	height: 25%;
	/*background: pink;*/
}
.type-name{
	float:left;
	height: 100%;
	/*background: red;*/
	width: 8%;
}
.type-radio{
	float:left;
	width: 90%;
	height: 100%;
	/*background:red;*/
}

.radio{
	margin-top: 25px;
	height:100%;
	float:left;
	width: 18%;
	align-content: center;
}
.radio_text{
	top:0;
	width:100px;
	height: 35px;
	font-size: 20;
}

.property_container{
	position: relative;
	float:left;
	height: 75px;
	/*background: red;*/
	width: 31%;

}

.property_container_title{
	margin:0;
	padding:0;
	width: 40%;
	height: 75px;
	font-size: 20;
	float:left;
}

.property_container_tf{
	float:left;
	width: 50%;
	height: 75px;
}

.property_container_textfield{
	margin-top: 20px;
	width:200px;
	height: 35px;
	font-size: 20;
}

.Eq-mainbody-bot{
	width:99%;
	height: 50%;
	float: left;
	/*background: green;*/
}

.savebtn{
	position: absolute;
	left:1300px;
	top:600px;
	width: 150px;
	height: 50px;
	background-color: dodgerblue;
	border-radius: 10px;
}









































}


















































