.body{
	background: linear-gradient(to bottom right, #bdbdbd 20%,#00acc1 40%,#f1cc36 70%,#f56a78);
}

.my_cran{
	background: #00acc1!important;
}

.my_cran2{
	background: #00b8ce!important;
}

.my_yellow{
	background: #f1cc36!important;
}

.my_red{
	background:#dd0052!important;
}

.my_gray{
	background: #bdbdbd !important;
}




.upload_pic{
	height:300px ;
	width: 300px;
}

.logo_pic{
	margin-top: 15%;
	height: 200px;
	width: 200px;
}

.headermargin{
	margin-left: 15px;
}
.btn_margin{
	margin_top:15px;
	margin-right: 15px;
	margin-bottom: 15px;

}
/*login page css*/
.login_radius{
	border-radius: 10px;
}
.usernameicon{
	float: left!important;
}

.usernamefill{
	width: 15%!important;
}
.pwlength{
	width: 75%!important;
}

.googleimg{
	width:75%!important;
	margin: 0;

}





.account_img{
	height: 50px;
	width: 50px;
	margin-top: 10px;
	margin-right: 10px;
	/*background: pink;*/
}

.myhide{
	display: none;
}

.myshow{
	display: block;
}


.mycheckbox{
	width:10%!important;
	margin-right: auto;
	margin-left: auto;
}
.myIdColumn{
	width:10%;
}

.loginbody{
	width:17%;
	margin:auto;
	left:0;
	right:0;
	top:0;
	bottom: 0;
}
.textfieldbox{
	margin-left: 5px;
}
.loginforgot{
	margin-left:15px;
}
.logintext{
	margin-right: 15px;
}

.myborder{
	border:1px solid black;
	margin-right: 5px;
}

.mycenter{
	/*left: 0;*/
	/*right: 0;*/
	/*top: 0;*/
	/*bottom: 0;*/
	margin-top: auto;
	margin-bottom: auto;

}

.eqmainbody{
	height: 80%;
	/*background: pink;*/
}

.eqcreatenew{
	width: 10%;
	/*background: blue;*/
	height:5%;
	margin-top: 25%;
	margin-right: auto;
	margin-left: auto;


}
.eqmodalheight{
	height:50%
}


.madalheight{

	max-height: 80%!important;
	width: 68%!important;
}