.body{
	background: linear-gradient(to bottom right, #bdbdbd 20%,#00acc1 40%,#f1cc36 70%,#f56a78);
}

.my_cran{
	background: #00acc1;
}

.my_cran2{
	background: #00b8ce;
}


.my_yellow{
	background: #f1cc36;
}

.my_red{
	background:#dd0052;
}

.my_gray{
	background: #bdbdbd;
}

.upload_pic{
	height:300px ;
	width: 300px;
}

.logo_pic{
	height: 200px;
	width: 200px;
}

.headermargin{
	margin-left: 15px;
}
.btn_margin{
	margin_top:15px;
	margin-right: 15px;
	margin-bottom: 15px;

}

.login_radius{
	border-radius: 10px;
}

.account_img{
	height: 50px;
	width: 50px;
	margin-top: 10px;
	margin-right: 10px;
	/*background: pink;*/
}