<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <!--Import Google Icon Font-->
    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{../css/info.css}">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" th:href="@{../css/materialize.min.css}"  media="screen,projection"/>
    <script src="/libs/jquery-1.9.1.js"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/png" href="../../img/icon.png" sizes="32x32" />
</head>

<body>
<nav>
    <div class="nav-wrapper row" style="background: #00acc1;">
        <a href="#" class="brand-logo offset-s1" style="padding-top: 10px; padding-left: 10px;">Simple Lab</a>
        <a class='dropdown-trigger right' href='#' data-target='dropdown1'><img class="account_img" src="../img/name.png"></a>
    </div>
</nav>
<!-- Dropdown Structure -->
<ul id='dropdown1' class='dropdown-content'>
    <li><a href="/teacher">Home</a></li>
    <li class="accountDia"><a class=" modal-trigger" href="#modalAccount">Account</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>


<!-- Modal Structure -->
<div id="modalAccount" class="modal">
    <div class="modal-content">
        <ul class="collapsible">
            <li >
                <div class="collapsible-header" style="background: #00acc1;"><i class="material-icons">info</i>Account Info</div>
                <div class="row collapsible-body">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="first_name" type="text" class="validate">
                                <label for="first_name">First Name</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="last_name" type="text" class="validate">
                                <label for="last_name">Last Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="school" type="text" class="validate">
                                <label for="school">School</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="email" type="text" class="validate">
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn waves-effect waves-light right modal-close" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>

                    </form>
                </div>
            </li>
            <li>
                <div class="collapsible-header" style="background: #f1cc36"><i class="material-icons">security</i>Password</div>
                <div class="collapsible-body">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s10">
                                <input id="password" type="text" class="validate">
                                <label for="password">Password</label>
                            </div>
                            <div class="input-field col s2">
                                <button class="btn waves-effect waves-light modal-close" type="submit" name="action">Submit
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="waves-effect waves-light modal-close btn" style="background:#dd0052" type="submit" name="action">
            Save
        </button>
    </div>
</div>

<nav>
    <div class="nav-wrapper row" style="background: #00acc1">
        <div class="col s12 valign-wrapper" style="background: #00b8ce; height: 30px; margin-top: 20px;">
            <a href="" class="breadcrumb">Home</a>
            <!--      <a href="#!" class="breadcrumb"></a>-->
            <!--      <a href="#!" class="breadcrumb"></a>-->
        </div>
    </div>
</nav>
<br>

<!--**********************************************************************main body*********************************************************************************************************-->
<!--**********************************************************************main body*********************************************************************************************************-->
<!--**********************************************************************main body*********************************************************************************************************-->
<div class="container">
    <nav>
        <div class="nav-wrapper" style="background: #f1cc36">
            <a href="#!" class="brand-logo">Equipment name</a>
            <!--                <ul class="right hide-on-med-and-down">-->
            <!--                    <li><a class="modal-trigger" href="#courseModal"><i class="material-icons">add</i></a></li>-->
            <!--                    <li><a href=""><i class="material-icons">delete</i></a></li>-->
            <!--                </ul>-->
        </div>
    </nav>
</div>


























<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="libs/materialize.min.js"></script>
</body>

<script>
    $(document).ready(function(){
        $('.modal').modal();
        $('.dropdown-trigger').dropdown();
    });
</script>
<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.fixed-action-btn');
        var instances = M.FloatingActionButton.init(elems, {direction: 'right'});
    });

    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems, {
            accordion: true
        });

        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.dropdown-trigger');
            var instances = M.Dropdown.init(elems, {
                hover: true
            });
        });
    });
</script>

</html>