<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <!--Import Google Icon Font-->
    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{../css/info.css}">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" th:href="@{../css/materialize.min.css}"  media="screen,projection"/>
    <script th:src="@{/libs/jquery-1.9.1.js}"></script>
    <script th:src="@{/js/login.js}"></script>
    <script th:src="@{/js/tools.js}"></script>
<!--    <script th:src = "@{/static/js/teacherInfo/main.js}"></script>-->
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login</title>
    <link rel="icon" type="image/png" href="../../img/icon.png" sizes="32x32" />
</head>

<body class="body valign-wrapper row center">
    <div class="loginbody  white offset-s5 login_radius center">
            <div class="row">
                <img src="../img/logo.png" class="logo_pic">
                <section>
                    <div class="input-field logintext textfieldbox">
                        <i class="material-icons prefix ">account_circle</i>
                        <input id="userName" placeholder="Enter User Name Here" type="text" class=" pwlength">
                        <label class="active " for="userName">User Name</label>
<!--                        <i class="material-icons" style="visibility: hidden;">visibility_off</i>-->
                    </div>
                    <br>
                    <div class="input-field logintext textfieldbox">
                        <i class="material-icons prefix ">lock</i>
                        <input id="password" placeholder="Enter Password Here" type="password" class="pwlength">
                        <label class="active"  for="password">Password</label>
<!--                        <a href="#" id="visibility" class="visibility"><i class="material-icons ">visibility_off</i></a>-->
<!--                        <a href="#" id="visibility-off" class="visibility" style="display: none;"><i class="material-icons ">visibility</i></a>-->
                        <a href="../forgetPage" class="left loginforgot">forgot password</a>
                        <a href="../signup" class="right">signup</a>
                    </div>
                    <div class="row"></div>
                    <div>
                        <button class="btn waves-effect waves-light right modal-close btn_margin"  id="loginBtn"  style="background:#dd0052;" type="submit" name="action">Log In
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </section>
            </div>
        </div>
</body>






</html>
