<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <!--Import Google Icon Font-->
    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{../css/info.css}">
    <link rel="stylesheet" th:href="@{../css/createLab.css}">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" th:href="@{../css/materialize.min.css}"  media="screen,projection"/>
    <script type="text/javascript" th:src="@{/libs/jquery-1.9.1.js}"></script>
    <script type="text/javascript" th:src="@{/libs/jquery-ui.js}"></script>
    <script type="text/javascript" th:src="@{../../libs/mustache.js}"></script>
    <script type="text/javascript" th:src="@{../../js/tools.js}"></script>
    <script type="text/javascript" th:src="@{/js/lab.js}"></script>

    <script type="text/javascript" th:src="@{../../js/accountInfo/accountInfo.js}"></script>
    <script id="modalAccTpl" type="x-tmpl-mustache" th:src="@{/js/accountInfo/modalAccount.html}"></script>
    <script type="text/javascript"> templatePreLoad()</script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/png" href="../../img/icon.png" sizes="32x32" />
    <title>Setup</title>
</head>

<body class="body delete_empty">
<nav class="delete_empty">
    <div class="nav-wrapper row" style="background: #00acc1;">
        <a href="#" class="brand-logo offset-s1" style="padding-top: 10px; padding-left: 10px;">Simple Lab</a>
        <a class='dropdown-trigger right' href='#' data-target='dropdown1'><img class="account_img" src="../img/name.png"></a>
    </div>
</nav>
<!-- Dropdown Structure -->
<ul id='dropdown1' class='dropdown-content'>
    <li><a href="/teacher">Home</a></li>
    <li class="accountDia"><a class=" modal-trigger" href="#modalAccount">Account</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>

<!-- Modal Structure -->
<div id="modalAccount" class="modal modalheight">
    <div class="modal-content">
        <ul class="collapsible">

        </ul>
    </div>
</div>


<nav class="delete_empty">
    <div class="nav-wrapper row" style="background: #00acc1">
        <div class="col s12 valign-wrapper" style="background: #00b8ce; height: 30px; margin-top: 20px;">
            <a href="" class="breadcrumb" th:text="${home_navig}">Home</a>
            <a href="/teacher/setuplab/" th:text="'SetLab: '+${lab_name}">Lab</a>
            <!--      <a href="#!" class="breadcrumb"></a>-->
            <!--      <a href="#!" class="breadcrumb"></a>-->
        </div>
    </div>
</nav>


<!--**********************************************************************main body*********************************************************************************************************-->
<!--**********************************************************************main body*********************************************************************************************************-->
<!--**********************************************************************main body*********************************************************************************************************-->
<!--sidebar {sidebar item set}-->
<!--        {sidebar step set}-->
<!--        {sidebar current itemset}-->

<!--operation area-->

<!--infobar-->




<!--    this operation area at the middle-->
<div id="operation_area" class="operation_area delete_empty ">
    <!--    side bar-->
    <div id="sidebar" class="sidebar sidebarhover row">
        <div id="sidebarone" class="sidebar_info delete_empty">
            <nav class="delete_empty">
                <div class="nav-wrapper my_yellow">
                    <a href="#" class="brand-logo"><i class="material-icons">view_list</i>item sets</a>
                    <a id="sidebar_add" class="right sidebar_add modal-trigger" href="#equipmentModal"><i class="material-icons">add</i></a>
                </div>
            </nav>
            <!--        equipment modal-->
            <div id="equipmentModal" class="modal eq_modal">
                <div class="modal-content delete_empty">
                    <nav>
                        <div class="nav-wrapper my_cran">
                            <a href="#!" class="brand-logo"><i class="material-icons">view_list</i>Add Equipment</a>
                        </div>
                    </nav>
                    <div class="row delete_empty">
                        <div class="col s4 center delete_empty">
                            <img class="eq_upload delete_empty" src="../img/upload.png">
                            <div class="file-field input-field col s6 offset-s3">
                                <div class="btn">
                                    <span>File</span>
                                    <input type="file" class="my_cran">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>

                        </div>
                        <div class="input-field col s5 eq_maigin">
                            <div class="col s12">
                                <h4>  </h4>
                            </div>
                            <select class="item_set center col s12">
                                <option value="" disabled selected>Save To Item Set</option>
                                <option value="1">favorite</option>
                                <option value="2">chem 101</option>
                                <option value="3">chem 201</option>
                            </select>
                        </div>
                        <div class="col s8 valign-wrapper section">
                            <label class="col s2"><h6>Item Type: </h6></label>
                            <label class="col s3">
                                <input class="with-gap" name="group1" type="radio" checked/>
                                <span>Measuring Type</span>
                            </label>
                            <label class="col s3">
                                <input class="with-gap" name="group1" type="radio"/>
                                <span>reacting Type</span>
                            </label>
                            <label class="col s2">
                                <input class="with-gap" name="group1" type="radio"/>
                                <span>heating Type</span>
                            </label>

                            <label class="col s2">
                                <input class="with-gap" name="group1" type="radio"/>
                                <span>Burning Type</span>
                            </label>
                        </div>
                        <div class="col s8 valign-wrapper section">
                            <label class="col s2"><h6>Security: </h6></label>
                            <label class="col s3">
                                <input class="with-gap" name="group2" type="radio" checked/>
                                <span>Public</span>
                            </label>
                            <label class="col s3">
                                <input class="with-gap" name="group2" type="radio"/>
                                <span>Private</span>
                            </label>
                            <label class="col s2">
                            </label>
                            <label class="col s2">
                            </label>
                        </div>

                        <form class="col s8">
                            <div class="col s12 section">
                                <div class="row">
                                    <div class="input-field col s5">
                                        <input  id="item_name" type="text" class="validate">
                                        <label  for="item_name">Item Name</label>
                                    </div>
                                    <div class="input-field col s5">
                                        <input  id="max_volume" type="text" class="validate">
                                        <label for="max_volume">Max Volume</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 section">
                                <div class="row">
                                    <div class="input-field col s5">
                                        <input id="max_temperature" type="text" class="validate">
                                        <label for="max_temperature">Max Temperature</label>
                                    </div>
                                    <div class="input-field col s5">
                                        <input id="accuracy" type="text" class="validate">
                                        <label for="accuracy">Accuracy</label>
                                    </div>
                                </div>
                            </div>
                        </form>


                    </div>
                </div>
                <div class="modal-footer">
                    <button class="waves-effect waves-light modal-close btn" type="submit" name="action">
                        Save
                    </button>
                </div>
            </div>
            </nav>

            <!--                sidebar item set-->
            <ul class="collapsible row my_white itemset" >
                <li class="active">
                    <div class="collapsible-header ">
                        often use
                    </div>
                    <div class="collapsible-body">
                        <ul class="collection">
                            <li>
                                <div id="500mlbeaker" class="row sidebaritem">
                                    <div class="col s6">
                                        <img src="../img/beaker.png" class="item_img">
                                    </div>
                                    <div class="col s6">
                                        <p>500ml beaker</p>
                                        <p>0.01L</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div id="200mlcylinder" class="row sidebaritem">
                                    <div class="col s6">
                                        <img src="../img/cylinder.png" class="item_img">
                                    </div>
                                    <div class="col s6">
                                        <p>200ml cylinder</p>
                                        <p>0.025L</p>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                </li>
                <li>
                    <div class="collapsible-header ">
                        beaker
                    </div>
                    <div class="collapsible-body">
                        <ul class="collection">
                            <li>
                                <div id="500mlbeaker" class="row sidebaritem">
                                    <div class="col s6">
                                        <img src="../img/beaker.png" class="item_img">
                                    </div>
                                    <div class="col s6">
                                        <p>500ml beaker</p>
                                        <p>0.01L</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header  ">
                        pip
                    </div>
                    <div class="collapsible-body">
                        <span>put items here</span>
                    </div>
                </li>
            </ul>
        </div>
        <!--            side bar step set-->
        <div id="sidebartwo" class="sidebar_info">
            <nav class="delete_empty">
                <div class="nav-wrapper my_red">
                    <a href="#" class="brand-logo"><i class="material-icons">view_list</i>Steps</a>
                    <!--                        <a id="sidebar_stepadd" class="right sidebar_add modal-trigger" href="#equipmentModal"><i class="material-icons">add</i></a>-->
                </div>
            </nav>
            <ul id="selectable" class="sortable selectable collection row my_white sidebar_step_collection" >

            </ul>
            <div class="center">
                <button id="addstep" class="btn center waves-effect waves-light modal-trigger my_red">
                    Add Step
                </button>
            </div>

        </div>
        <!--            side bar current item set-->
        <div id="sidebarthree" class="sidebar_info ">
            <nav class="delete_empty">
                <div class="nav-wrapper my_gray">
                    <a href="#" class="brand-logo"><i class="material-icons">view_list</i>Current Items</a>
                </div>
            </nav>

            <ul class="row my_white current_item_set collection" >
                <!--                    keep this as a sample for future edit-->
                <!--                    <li class="collection-item">-->
                <!--                        <div class="row sidebaritem">-->
                <!--                            <div class="col s6">-->
                <!--                                <img src="../img/beaker.png" class="item_img">-->
                <!--                            </div>-->
                <!--                            <div class="col s6">-->
                <!--                                <p>500ml beaker</p>-->
                <!--                                <p>0.01L</p>-->

                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </li>-->

            </ul>






        </div>

        <div class="sidebar_trigger delete_empty">
            <ul class=" tabs delete_empty">
                <li class="tab tab_content my_yellow delete_empty"><a class="active delete_empty" href="#sidebarone"><p class="vtext1">Item</p></a></li>
                <li class="tab tab_content my_red delete_empty"><a class="delete_empty" href="#sidebartwo"><p class="vtext1">Steps</p></a></li>
                <li class="tab tab_content my_gray delete_empty"><a class="delete_empty" href="#sidebarthree"><p class="vtext2">Current Item</p></a></li>
            </ul>
        </div>
    </div>


    <!--sample for the item created in the operation area-->
    <!--        <div id="item_one" class="ui-widget-content draggable_item center">-->
    <!--            <img src="../img/beaker.png" class="item_img">-->
    <!--            <p >draggable block</p>-->
    <!--        </div>-->






    <!--        item information bar-->
    <div id="infobar" class="infobar my_white">
        <nav>
            <div class="nav-wrapper" style="background: #f1cc36">
                <a href="#!" class="brand-logo"><i class="material-icons">view_list</i>Item Info</a>
            </div>
        </nav>
        <ul class="collection">
            <li class="collection-item row">
                <div class="col s6">
                    Name:
                </div>
                <div class="col s6">
                    vitriol
                </div>
            </li>
            <li class="collection-item row">
                <div class="col s6">
                    chemistry exp:
                </div>
                <div class="col s6">
                    H2SO4
                </div>
            </li>
            <li class="collection-item row">
                <div class="col s6">
                    Color:
                </div>
                <div class="col s6">
                    Blue
                </div>
            </li>
            <li class="collection-item row">
                <div class="col s6">
                    PH:
                </div>
                <div class="col s6">
                    7
                </div>
            </li>
            <li class="collection-item row">
                <div class="col s12 ">
                    <button id="addcompound" class="btn waves-effect waves-light modal-trigger"  data-target="#compoundmodal" style="background:#dd0052;">
                        Add Compound
                    </button>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </div>
            </li>

            <div id="compoundmodal" class="modal">
                <div class="modal-content">
                    <nav>
                        <div class="nav-wrapper my_cran">
                            <a href="#!" class="brand-logo"><i class="material-icons">view_list</i>Compounds</a>
                        </div>
                    </nav>
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="compound_name" type="text" class="validate">
                                <label for="compound_name">Compound Name</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="compound_chemistry_expression" type="email" class="validate">
                                <label for="compound_chemistry_expression">Chemistry Expression</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="compound_volume" type="text" class="validate">
                                <label for="compound_volume">Compound Volume</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="compound_concentration" type="password" class="validate">
                                <label for="compound_concentration">Compound Concentration</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="compound_color" type="email" class="validate">
                                <label for="compound_color">Compound Color</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="compound_ph" type="text" class="validate">
                                <label for="compound_ph">PH</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="" class="btn waves-effect waves-light modal-close my_cran"  style="background:#dd0052;">
                        Save
                    </button>
                </div>
            </div>


        </ul>
    </div>









    <!--pop up model to enter number of liquid -->
    <div id="modal1" class="modal popup_dialog">
        <nav class="my_yellow">
            <div class="popup_dialog_header">Enter number of liquid</div>
        </nav>
        <div class="modal-content row">
            <p class="range-field col s8 zeromargin ">
                <input type="range" id="test5" min="0" max="200" value="100" oninput="showVal(this.value)" onchange="showVal(this.value)"/>
            </p>
            <div class="col s4 zeromargin">
                <input class="number_picker" type="number" name="quantity" min="1" max="100" value="100">
            </div>

            <div class="center col s12">
                <a href="#!" class="modal-close btn my_red">Pour</a>
            </div>
        </div>
    </div>



</div>































<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" th:src="@{../libs/materialize.min.js}"></script>
</body>

<script>
    $(document).ready(function(){
        M.updateTextFields();
        M.AutoInit();
        $( ".sortable" ).sortable({
            placeholder: "sortable-highlight"
        });
        $( "#selectable" ).selectable();
        $('.modal').modal();
        $('.dropdown-trigger').dropdown();
        $('.tabs').tabs();

    });
</script>
<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems, {
            accordion: false
        });
    });
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.dropdown-trigger');
        var instances = M.Dropdown.init(elems, {
            // hover: true
        });
    });


</script>

</html>