<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <!--Import Google Icon Font-->
    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{../css/info.css}">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" th:href="@{../css/materialize.min.css}"  media="screen,projection"/>
    <script src="/libs/jquery-1.9.1.js"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script>
        //TODO: check if the fields are empty
        //TODO: make the alert look better

        $(document).ready( () => {
            $("#signupbtn").click(() => {
                user_identity = $("input[name='identity']:checked").val();
                userdata = {
                    userName: $("#userName").val(),
                    sp_password: $("#sp_password").val(),
                    sp_re_password: $("#sp_re_password").val(),
                    question: $("#question").val(),
                    answer: $("#answer").val(),
                    email: $("#email").val(),
                    identity: user_identity
                };
                $.post("/signup", userdata, (result) => {
                    if (result.success === "true") {
                        window.location.href= "/login";
                    }
                    else {
                        if (result.reason === "password does not match"){
                            alert("The password fields do not match. Please re-enter your passwords");
                        }
                        else if (result.reason === "username taken"){
                            alert("The username is already taken");
                        }
                    }
                });
            });
        });
    </script>
</head>

<body class="body valign-wrapper row body">
<div class=" col s4  white offset-s4 login_radius">
    <div class="center">
        <section>
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="userName" type="text" class="validate">
                <label for="userName">User Name</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">email</i>
                <input id="email" type="text" class="validate">
                <label for="email">Email</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">lock</i>
                <input id="sp_password" type="text" class="validate">
                <label for="sp_password">Password</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">lock</i>
                <input id="sp_re_password" type="text" class="validate">
                <label for="sp_re_password">Confirm Password</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">question_answer</i>
                <input id="question" type="text" class="validate">
                <label for="question">Question to reset password</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">question_answer</i>
                <input id="answer" type="text" class="validate">
                <label for="answer">Answer for Question</label>
            </div>
            <form action="#">
                <h6 class="col s4">Sign up as a:</h6>
                <p class="col s4">
                    <label>
                        <input class="with-gap" value="teacher" name="identity" type="radio" checked />
                        <span>Teacher</span>
                    </label>
                </p>
                <p class="col s4">
                    <label>
                        <input class="with-gap" value="student" name="identity" type="radio" />
                        <span>Student</span>
                    </label>
                </p>
            </form>

            <br>
            <div class="row"></div>
            <div class="row">
                <button class="btn waves-effect waves-light right modal-close btn_margin" id="signupbtn" style="background:#dd0052; " type="submit" name="action">Signup
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </section>

    </div>
</div>


</body>

</html>