<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <!--Import Google Icon Font-->
    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{../css/info.css}">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" th:href="@{../css/materialize.min.css}"  media="screen,projection"/>
    <script type="text/javascript" th:src="@{/libs/mustache.js}"></script>
    <script src="/libs/jquery-1.9.1.js"></script>
    <script src="/js/sudentInfo.js"></script>
<!--    <script type="text/javascript" th:src="@{/js/teacherInfo/main.js}"></script>-->
<!--    <script type="text/javascript" th:src="@{/js/teacherInfo/course.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/accountInfo/accountInfo.js}"></script>
    <script type="text/javascript" th:src="@{/js/tools.js}"></script>

<!--    <script id="modalTpl" type="x-tmpl-mustache" th:src="@{/js/template/modal.html}"></script>-->
    <script id="modalAccTpl" type="x-tmpl-mustache" th:src="@{/js/accountInfo/modalAccount.html}"></script>
    <script type="text/javascript"> templatePreLoad()</script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/png" href="../../img/icon.png" sizes="32x32" />
    <title>Student Info</title>
</head>

<body>
<nav>
    <div class="nav-wrapper row" style="background: #00acc1;">
        <a href="#" class="brand-logo offset-s1" style="padding-top: 10px; padding-left: 10px;">Simple Lab</a>
        <a class='dropdown-trigger right' href='#' data-target='dropdown1'><img class="account_img" src="../img/name.png"></a>
    </div>
</nav>
<!-- Dropdown Structure -->
<ul id='dropdown1' class='dropdown-content'>
    <li><a href="/student">Home</a></li>
    <li class= "accountDia" ><a class="modal-trigger" href="#modalAccount">Account</a></li>
    <li><a href="/logout">Sign Out</a></li>
</ul>


<!-- Modal Structure -->
<div id="modalAccount" class="modal" style="max-height: 80%;">
    <div class="modal-content">
        <ul class="collapsible">

        </ul>
    </div>
</div>



<nav>
    <div class="nav-wrapper row" style="background: #00acc1">
        <div class="col s12 valign-wrapper" style="background: #00b8ce; height: 30px; margin-top: 20px;">
            <a href="" class="breadcrumb" th:text = "${home_navig}">Home</a>
            <!--      <a href="#!" class="breadcrumb"></a>-->
            <!--      <a href="#!" class="breadcrumb"></a>-->
        </div>
    </div>
</nav>
<br>
<div class="container row">
    <!-- ****************************************************************Course Block************************************************************************************************************-->
    <!-- ****************************************************************Course Block************************************************************************************************************-->
    <!-- ****************************************************************Course Block************************************************************************************************************-->
    <div class="hoverable">
        <nav>
            <div class="nav-wrapper" style="background: #f1cc36">
                <a href="#!" class="brand-logo headermargin">Course</a>
                <ul class="right hide-on-med-and-down">
                    <li class="coursecheckcol myhide"><a id="courseBackBtn" ><i class="material-icons">arrow_back</i></a></li>
                    <li class="coursecheckcol myhide"><a id="courseDeleteBtn"  ><i class="material-icons">delete</i></a></li>
                    <li class="coursecheckcol myshow"><a class="modal-trigger" href="#courseModal"><i class="material-icons">add</i></a></li>
<!--                    <li class="coursecheckcol myshow"><a id="courseEditBtn" ><i class="material-icons">edit</i></a></li>-->
                </ul>
            </div>
        </nav>
        <!-- Modal Structure -->
        <div id="courseModal" class="modal" style="max-height: 80%;">
            <div class="modal-content">
                <ul class="collapsible">
                    <li class="active">
                        <div class="collapsible-header" style="background: #00acc1"><i class="material-icons">menu_book</i>Course</div>
                        <div class="collapsible-body row">
                            <div class="col s12">
                                <div class="input-field col s10">
                                    <input id="searchCourse" type="text" class="validate">
                                    <label for="searchCourse">Key Word For Course</label>
                                </div>
                                <div class="input-field col s2">
                                    <a id="courseSearchBtn" href="#"><i class="material-icons">search</i></a>
                                </div>
                                <table id="student_search_course">
<!--                                    <thead>-->
<!--                                    <tr>-->
<!--                                        <th>Search result</th>-->
<!--                                    </tr>-->
<!--                                    </thead>-->
                                    <tbody>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>


        <table id="studentCourse" class="striped centered responsive-table">

            <thead>
            <tr>
                <th class="coursecheckcol myhide mycheckbox"></th>
                <th>Course ID</th>
                <th>Course Name</th>
                <th>Create Date</th>
            </tr>
            </thead>

            <tbody>
<!--            <tr th:each="course : ${list_of_course}">-->
<!--                <td th:text="${course.ucid}">id</td>-->
<!--                <td th:text="${course.name}">name</td>-->
<!--                <td th:text="${course.create_day}">2018-02-20</td>-->
<!--            </tr>-->
            </tbody>
        </table>
    </div>


    <div id="studentCourseModal" class="modal">
        <div class="modal-content">
            <ul class="collapsible">
<!--                <li>-->
<!--                    <div class="collapsible-header"><i class="material-icons">whatshot</i>Lab One</div>-->
<!--                    <div class="collapsible-body labheight">-->
<!--                        <div>-->
<!--                            <div class="">-->
<!--                                <p>Lab Name</p>-->
<!--                            </div>-->
<!--                            <p class="labdescriptionheight"> this is lab discription</p>-->
<!--                            <a class="waves-effect waves-light btn right my_red">Start<i class="material-icons right">send</i></a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </li>-->

            </ul>
        </div>
    </div>
<!--    &lt;!&ndash; ****************************************************************Lab Block************************************************************************************************************&ndash;&gt;-->
<!--    &lt;!&ndash; ****************************************************************Lab Block************************************************************************************************************&ndash;&gt;-->
<!--    &lt;!&ndash; ****************************************************************Lab Block************************************************************************************************************&ndash;&gt;-->
<!--    <div class="hoverable">-->
<!--        <nav>-->
<!--            <div class="nav-wrapper " style="background:#dd0052">-->
<!--                <a href="#!" class="brand-logo headermargin">Lab</a>-->
<!--                <ul class="right hide-on-med-and-down">-->
<!--                    <li class="labcheckcol myhide"><a id="labBackBtn" ><i class="material-icons">arrow_back</i></a></li>-->
<!--                    <li class="labcheckcol myhide"><a id="labDeleteBtn"  ><i class="material-icons">delete</i></a></li>-->
<!--                    <li class="labcheckcol myshow"><a class="modal-trigger" href="#labModal"><i class="material-icons">add</i></a></li>-->
<!--                    <li class="labcheckcol myshow"><a id="labEditBtn" ><i class="material-icons">edit</i></a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </nav>-->

<!--        &lt;!&ndash; Modal Structure &ndash;&gt;-->
<!--        <div id="labModal" class="modal" style="max-height: 80%;">-->
<!--            <div class="modal-content">-->
<!--                <ul class="collapsible">-->
<!--                    <li class="active">-->
<!--                        <div class="collapsible-header" style="background: #f1cc36"><i class="material-icons">laptop</i>Labs</div>-->
<!--                        <div class="collapsible-body">-->
<!--                            <div class="row">-->
<!--                                <div class="input-field col s12">-->
<!--                                    <div class="input-field col s10">-->
<!--                                        <input id="searchStudentLab" type="text" class="validate">-->
<!--                                        <label for="searchStudentLab">Lab Name</label>-->
<!--                                    </div>-->
<!--                                    <div class="input-field col s2">-->
<!--                                        <a id ="searchStudentLabBtn" href="#"><i class="material-icons">search</i></a>-->
<!--                                    </div>-->
<!--                                    <table id="student_search_lab">-->
<!--                                        <thead>-->
<!--                                        <tr>-->
<!--                                            <th>Search Result</th>-->
<!--                                        </tr>-->
<!--                                        </thead>-->
<!--                                        <tbody>-->
<!--&lt;!&ndash;                                        <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <td>Alvin</td>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <td>Alan</td>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <td>Jonathan</td>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </tr>&ndash;&gt;-->
<!--                                        </tbody>-->
<!--                                    </table>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                </ul>-->

<!--                <button class="waves-effect waves-light modal-close right btn btn_margin" style="background:#dd0052;" type="submit" name="action">-->
<!--                    Save-->
<!--                </button>-->
<!--            </div>-->

<!--        </div>-->







<!--        <table class="striped centered responsive-table">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th class="labcheckcol myhide"></th>-->
<!--                <th>Name</th>-->
<!--                <th>Item Name</th>-->
<!--                <th>Item Price</th>-->
<!--            </tr>-->
<!--            </thead>-->

<!--            <tbody>-->
<!--            <tr>-->
<!--                <td class="labcheckcol center myhide " ><label class=""><input type="checkbox"/><span></span></label></td>-->
<!--                <td>Alvin</td>-->
<!--                <td>Eclair</td>-->
<!--                <td>$0.87</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td class="labcheckcol center myhide" ><label class=""><input type="checkbox"/><span></span></label></td>-->
<!--                <td>Alan</td>-->
<!--                <td>Jellybean</td>-->
<!--                <td>$3.76</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td class="labcheckcol center myhide" ><label class=""><input type="checkbox"/><span></span></label></td>-->
<!--                <td>Jonathan</td>-->
<!--                <td>Lollipop</td>-->
<!--                <td>$7.00</td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->
<!--    <br>-->

</div>
















<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="libs/materialize.min.js"></script>
</body>
<script>
    $(document).ready(function(){
        $('.modal').modal();
        $('.dropdown-trigger').dropdown();

    });
</script>
<script type="text/javascript">


    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, {
            // inDuration:"50",
            // ourDuration:"50"
        });
    });

    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.fixed-action-btn');
        var instances = M.FloatingActionButton.init(elems, {direction: 'right'});
    });

    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems, {
            accordion: true,
            // inDuration:"1000",
            // outDuration:"1000"
        });

        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.dropdown-trigger');
            var instances = M.Dropdown.init(elems, {
                hover: true
            });
        });
    });
</script>
</html>