<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" th:href="@{../css/info.css}">
<head>
<meta charset="utf-8">
<title>Teacher info</title>
</head>
<body class="body">
    <div class="info-top">
        <div class="info-top-header">Hi,User</div>
        <div class="dropdown">
            <img class="dropdownimg" src="../img/name.png">
            <div class="dropdown-content">
                <a href="../../../teacher">Home</a>
                <a href="../../../teacher/course">My Course</a>
                <a href="../../../teacher/lab">My Lab</a>
                <a href="../../../teacher/equipment">Equipment</a>
                <a href="#">Sign Out</a>
            </div>
        </div>
    </div>

    <div class="teacher-info">
        <div class="text-info">
            <div class="text-info-row1">
                <div class="container1">
                    <div class="text-container"><p>name:  Username</p></div>
                </div>

                <div class="container2">
                    <div class="text-container"><p>password: ********</p></div>
                    <div class="editimg"><img src="../img/edit.png"></div>
                </div>
            </div>
            
            <div class="text-info-row2">
                <div class="container1">
                    <div class="text-container"><p>school: Stonybrook</p> </div>
                    <div class="editimg"><img src="../img/edit.png"></div>
                </div>

                <div class="container2">
                    <div class="text-container"><p>email: **********@gmail.com</p></div>
                    <div class="editimg"><img src="../img/edit.png"></div>
                </div>
            </div>  
        </div>
    </div>

    <div class="bot">
        <div class="block">
            <div class="block-header">
                <div class="block-header-name">Course</div>
                <div class="block-header-more"><a href="../../../teacher/course">more</a></div>
            </div>
            <div class="content">
                    <p>Course name one</p>
                    <p>Course name two</p>
                    <p>Course name three</p>
            </div>
        </div>

        <div class="block">
            <div class="block-header">
                <div class="block-header-name">Lab</div>
                <div class="block-header-more"><a href="../../../teacher/lab">more</a></div>
                
            </div>
            <div class="content">
                    <p >Lab name one</p>
                    <p>Lab name two</p>
                    <p>Lab name three</p>
            </div>

        </div>

        <div class="block">
            <div class="block-header">
                <div class="block-header-name">Equipment</div>
                <div class="block-header-more"><a href="../../../teacher/equipment">more</a></div>
                
            </div>
            <div class="content">
                    <p>Equipment name one</p>
                    <p>Equipment name two</p>
                    <p>Equipment name three</p>
            </div>
        </div>
    </div>









     
</body>
</html>