<!--
    data = {
        isHide : myshow/myhide,
        eventFn: "tableRowEvent()"
        courses: [....]
    }
-->

{{#courses}}
{{#isEnabled}}
<tr class = "modal-trigger" href="#courseModal">
    <td class = "coursecheckcol mycheckbox myhide center">
{{/isEnabled}}
{{^isEnabled}}
<tr href="#courseModal">
    <td class = "coursecheckcol mycheckbox myshow center">
{{/isEnabled}}
        <label>
            <input type="checkbox"><span></span>
        </label>
    </td>
    <td class = "myIdColumn">{{course_id}}</td>
    <td>{{name}}</td>
    <td>{{createdDate}}</td>
</tr>
{{/courses}}

